extends layout

block content
    .grid-container
        #top-row 
            include components/top-row
        #middle-row
            include components/middle-row
            
        #bottom-row
            include components/bottom-row
