extends layout.pug

block content
    .grid-container
        #top-row stuff
            block top-row
                .backup Well shit
        #middle-row
            block middle-row-block
        #bottom-row
            block bottom-row-block