doctype html
html(lang="en")
    head

        title Desktop Companion Tablet

        link(href="/public/css/main.css", rel='stylesheet')
        link(href="/public/css/top-row.css", rel='stylesheet')
        link(href="/public/css/bottom-row.css", rel='stylesheet')
        link(href="/public/css/printer-view.css", rel='stylesheet')
        link(href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css", rel='stylesheet')
        
        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        
        //- Libraries
        script(src="/public/lib/axios.js")
        //- script(src="/public/lib/jquery.js")
        <script> window.$ = window.jQuery = require('jquery')</script>
        script(src="/public/lib/jquery-ui.min.js")
        script(src="/public/lib/jquery-ui-touch-punch.min.js")
        script(src="/public/lib/jquery.transit.min.js")
        script(src="/socket.io/socket.io.js")

        <script>if (window.module) module = window.module;</script>

        each module in currentModules
            if module.css
                link(href="/public/css/" + module.css rel="stylesheet")
            
    
    body
        // Content of the website, in index.pug
        block content

        script(src="/public/scripts/display.js")
        script(src="/public/scripts/spotify_control.js")

        //- Load in all module scripts
        each module in currentModules
            if module.script 
                script(src="/public/scripts/" + module.script)