doctype html
html(lang="en")
    head

        title Desktop Companion Tablet

        link(href="../css/main.css", rel='stylesheet')
        link(href="../css/top-row.css", rel='stylesheet')
        link(href="../css/bottom-row.css", rel='stylesheet')
        link(href="../css/printer-view.css", rel='stylesheet')
        link(href="../lib/jquery-ui.min.css", rel='stylesheet')

        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

        //- Libraries
        script(src="../lib/jquery.js")
        script(src="../lib/axios.js")
        script(src="../lib/jquery-ui.min.js")
        script(src="../lib/jquery-ui-touch-punch.min.js")
        script(src="../lib/jquery.transit.min.js")
        //- script(src="/socket.io/socket.io.js")

        <script>if (window.module) module = window.module;</script>

        each module in currentModules
            if module.css
                link(href="../css/" + module.css rel="stylesheet")
            
    
    body
        // Content of the website, in index.pug
        block content

        script(src="../scripts/display.js")
        script(src="../scripts/spotify_control.js")

        //- Load in all module scripts
        each module in currentModules
            if module.script 
                script(src="../scripts/" + module.script)