//- Sliders
    On/Off
    Status Indicator?
    Brightness
    Color Range

    Need to figure out how to know when we're connected to the bulb or not
    Probably something to do with the light bulb responding or not
#light-control(class="middle-view") 
    