#pc-stats(class="middle-view")
    #all-dials-container
        .dial-container
            .dial-title CPU

            .dial-wrapper(id="cpu-dial")
                .dial
                .circle
                .small-circle
                #cpu-dial-arm(class="dial-arm rotated-45")
                .triangle
            
            .percentage(id="cpu-percentage") 0%
        .dial-container
            .dial-title Memory

            .dial-wrapper(id="memory-dial")
                .dial
                .circle
                .small-circle
                #memory-dial-arm(class="dial-arm rotated-45")
                .triangle
            
            .percentage(id="memory-percentage") 0%
