#screen-settings(class="middle-view")
    #screen-power-container
        #screen-power-mid-container
            label#screen-power-label Power:
            img#screen-power-icon(class="image-button toggle-button" src="/public/assets/power-button.png")

    #screen-brightness-container
        .slider-container(id="screen-brightness-slider-container")
            img.slider-icon(src="/public/assets/light-bulb.png")
            label.slider-label(id="screen-brightness-label") 00%
            #screen-brightness-slider(class="ui-slider-range ui-corner-all")