<div id="printer-view" class="middle-view">
    <div id="printer-view-container" class="printer-view">
        <img src="http://193.169.2.15/webcam/?action=stream" alt="printer" id="video">
    </div>
</div>