<!-- <!doctype html> -->
<html lang="en">
<head>
  <meta charset='utf-8'>
  <link href="/public/css/main.css" rel="stylesheet" type="text/css">
  <link href="/public/css/top-row.css" rel="stylesheet" type="text/css">
  <link href="/public/css/volume-sliders.css" rel="stylesheet" type="text/css">
  <link href="/public/css/pc-stats.css" rel="stylesheet" type="text/css">
  <link href="/public/css/bottom-row.css" rel="stylesheet" type="text/css">
  <link href="/public/css/printer-view.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <title> Desktop Companion Tablet </title>
  </head>
<body>
  {{{ body }}}

  <!-- Libraries -->
  <script src="/public/lib/axios.js" type="text/javascript"></script>
  <script src="/public/lib/jquery.js" type="text/javascript"></script>
  <script src="/public/lib/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/public/lib/jquery-ui-touch-punch.min.js" type="text/javascript"></script>
  <script src="/public/lib/jquery.transit.min.js" type="text/javascript"></script>

  <script src="./socket.io/socket.io.js"></script>

  <!-- Webpage JS files-->
  <script src="/public/scripts/display.js" type="text/javascript"></script>
  <script src="/public/scripts/spotify_control.js" type="text/javascript"></script>
  <script src="/public/scripts/volume-sliders.js" type="text/javascript"></script>
  <script src="/public/scripts/pc-stats.js" type="text/javascript"></script>
</body>
</html>
