.weather-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #00C8C8;
    height: 100%;
    padding: 0px 5px 5px 5px;
}
    .weather-container > div {
        margin: 0px 5px;
    }

    .weather-icon {
        font-size: 40px;
    }

    .temperature-weather-container {
        display: flex;
        flex-direction: column;
    }
        #temperature {
            font-size: 28px;
        }
