<div id="track">
    <img id="album-cover" src='https://i.scdn.co/image/a06f250e3d2fee9dd0d1f959d06e49034c388edd'>

    <div id="track-info">
        <label id="current-track">CURRENT TRACK</label>
        <label id="current-artist">CURRENT ARTIST</label>
    </div>
</div>

<div id="spotify-playback">
    <div id="playback-container">
        <!-- <h4> Spotify Playback </h4> -->
        <img class="image-button" id="previous-song" src="/public/assets/next-song.png">
        <img class="image-button" id="play-pause" src="/public/assets/play.png">
        <img class="image-button" id="next-song" src="/public/assets/next-song.png">
    </div>
</div>

<!--Need to highlight which view is active!-->
<div id="view-swapper">
    <div id="control-container">
        {{#each currentModules}}
            <img id="{{id}}-toggle" class="image-button toggle-button" src="/public/assets/{{icon}}">
        {{/each}}
    </div>
</div>