<div id="volume-mixer" class="middle-view">
    {{#each volumeMixers}}
        <div class="slider-container">
            <img class="slider-icon" src="/public/assets/{{icon}}">
            <label id="{{id}}-label" class="slider-label">00% </label>
            <div id="{{id}}-slider" class="ui-slider-range ui-corner-all"></div>
        </div>
    {{/each}}
</div>