html {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  /* background-image: url('/public/assets/background.png') */
  background-color: #1c2122
}

div {
  color: white;
}

.grid-container {
  display: grid;
  grid-template-rows: 10% 74% 16%;
  height: 100%;
}

#middle-row {
  height: 100%;
  width: 100%;
  border: 1px solid #00C8C8 !important;
  /* border: 0.2px solid #010101; */
}
