#view-swapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}
    #control-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #00C8C8;
        border-radius: 20px;
        width: 85%;
        height: 75%;
    }
        .toggle-button {
            width: 32px;
            height: 32px;
        }