/*Custom Base*/
html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  background-color:#2D2D2D;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 70% 5% 30%;
  grid-gap: 10px;
  grid-row-gap: 20px;
  background-color: #2D2D2D;
  position: absolute;
  top: 3%;
  width:100%;
  height: 80%;
  padding-left: 15%;
  padding-top: 5%;
  grid-row-start: 2;
  grid-row-end: 2;
}

#spotify-label {
  color: #1DB954 !important;
}

#discord-label {
  color: #5A70AD !important;
}

#rocketleague-label {
  color: #007ACF !important;
}

#spotify-slider .ui-slider-handle {
  border: 3px solid #1DB954 !important;
  background: #1DB954 !important;
}

#discord-slider .ui-slider-handle {
  border: 3px solid #5A70AD !important;
  background: #5A70AD !important;
}

#rocketleague-slider .ui-slider-handle {
  border: 3px solid #007ACF !important;
  background: #007ACF !important;
}

img {
  width: 64px;
  height: 64px;
  position: relative;
  left: -30px;
}

label {
  position: relative;
  left: -17px !important;
}

.ui-slider-handle {
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d !important; */
  height: 45px !important;
  width: 45px !important;
  border-radius: 45px !important;
  cursor: pointer;
  -webkit-appearance: none;
  left:-21px !important;
  margin-top: -21px;
}

.ui-slider-vertical {
  height: 100% !important;
  width: 10px !important;
  cursor: pointer;
  box-shadow: 1px 1px 1px #0000, 0px 0px 1px #0000;
  border: 0.2px solid #010101;
  background: #999999 !important;
}
