#spotify-playback {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
    #playback-container {
        border: 1px solid #00C8C8 !important;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-content: center !important;
        width: 250px !important;
        margin-top: 10px;
    }
        .image-button {
            border-width: 0px !important;
            background-color: initial;
            outline: none;
            align-items: initial;
            display: initial;
            box-sizing: initial;
        }

        .image-button:active {
            transform: scale(0.8);
            filter: grayscale(0.8);
        }

            #play-pause {
                width: 48px;
                height: 48px;
                margin: 7px auto;
            }

            #previous-song {
                width: 32px;
                height: 32px;
                transform: rotate(180deg);
                margin-top: 0px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0px;
            }

            #previous-song:active {
                transform: rotate(180deg) scale(0.85);
            }

            #next-song {
                width: 32px;
                height: 32px;
                margin-top: 0px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0px;
            }
