<div id="pc-stats" class="middle-view">
    <div id="all-dials-container">
        <div class="dial-container">
            <div class="dial-title"> CPU </div>

            <div id="cpu-dial" class="dial-wrapper">
                <div class="dial"></div>
                <div class="circle"></div>
                <div class="small-circle"></div>
                <div id="cpu-dial-arm" class="dial-arm rotated-45"></div>
                <div class="triangle"></div>
            </div>

            <div id="cpu-percentage" class="percentage"> 0% </div>
        </div>

        <div class="dial-container">
            <div class="dial-title"> Memory </div>

            <div id="memory-dial" class="dial-wrapper">
                <div class="dial"></div>
                <div class="circle"></div>
                <div class="small-circle"></div>
                <div id="memory-dial-arm" class="dial-arm rotated-45"></div>
                <div class="triangle"></div>
            </div>


            <div id="memory-percentage" class="percentage"> 0% </div>
        </div>
    </div>
    <div id="quick-launch-icons">

    </div>
</div>