{{#if settingsPage}}
  {{>settings}}
  
{{else}}
  <div class="grid-container">
    <div id="top-row">
      {{>top-row}}
    </div>

    <div id="middle-row">
      {{>middle-row}}
    </div>

    <div id="bottom-row">
      {{>bottom-row}}
    </div>
</div>
{{/if}}