each module in currentModules
    if(module.id == "volume-mixer")
        include ../modules/volume-mixer
    else if(module.id == "pc-stats")
        include ../modules/pc-stats
    else if(module.id == "printer-view")
        include ../modules/printer-view
    else if(module.id == "light-control")
        include ../modules/light-control
    else if(module.id == "weather")
        include ../modules/weather
    else if(module.id == "screen-settings")
        include ../modules/screen-settings