extends ../index.pug

block top-row
    #pc-controls
        //- each icon in quickIcons
            img(id="" class="" src="/public/assets/")
    #time
        div 0.00

    #timer
        #countdown-number
            svg
                circle(r=23, cx=25, cy=25)

        